body {background-image: url(SpaceBackground.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;}
#header {
    background-color: darkblue;
    font-family: "Space Grotesk", "consolas", sans-serif;
    color: blanchedalmond;
    text-align: center;
    width: 100%;
    border-bottom: solid;
    border-width: thick;
    padding: 10px;
    margin-bottom: 15px;
    }
#footer {clear: both;
        text-align: center;
        background-color: darkblue;
        height: fit-content;
        margin-top: 500px;
        font-family: "consolas", sans-serif;
        color: blanchedalmond;
        }
#menu { 
    margin-left:0;
    padding-top: 5px;
    padding-bottom: 80px;
    padding-right: 15px;
    color: slateblue;
    background-color: black;
    width: 400px;
    height: 150px;
    font-family: "consolas", sans-serif;
    position: relative;
    }
#homepage {margin: 0 0 10px 0;
            background-color: midnightblue;
            color: goldenrod;
            text-align: left;}
#homepageimg {flex-shrink: 0;
            margin-left: 10%;
            background-color: midnightblue;}
#homepageimg img {max-width: 500px;
                height: auto;
                border-radius: 10px;
                margin-right: auto}
#textField {color: goldenrod;}
#logo {position: absolute;
        float: left;
        max-height: auto;
        max-width: 100px;
        margin: auto;}
#result {color: goldenrod;
        font-family: Helvetica, Arial, sans-serif;}
#team-section {
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
#team-section h2 {

                    text-align: center;
}
#teamp  {text-align: center;
    justify-content: center;}

.team-member {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 250px;
            margin: 15px;
            padding: 20px;
            text-align: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

 .team-member:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

.team-member img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin-bottom: 15px;
        }

.team-member h3 {
            font-size: 1.5em;
            margin-bottom: 10px;
            color: darkblue;
        }

.team-member p {
                background-color: white;
                color: darkblue;
}

.team-member .role {
            font-style: italic;
            color: #777;
            margin-bottom: 10px;
            background-color: white;
        }
.main {position: relative;
        margin: auto;
        width: auto;
        padding: 20px;
        background-color: black;
        margin: 5px;
        }
.video {width: 1000px;
        height: 563px;}
.container {padding-top: 150px;
        padding-left: 20px;
        background-color: midnightblue;
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;}
.text-container {
                margin-left: 10%;
                background-color: midnightblue;
                max-width: 100%;
                min-width: 400px;}
ol {list-style-type: decimal;
    font-family: "consolas", sans-serif;
    color: darkkhaki;}
ul {list-style-type: circle;
        color: darkkhaki;}
h1 {font-size: xx-large;
    font-family: Helvetica, Arial, sans-serif;
    color: aliceblue;
    text-align: center;}
h2 {font-size: medium;
    font-family: 'Helvetica', Arial, sans-serif;
    text-align: left;
    color: aliceblue;}
h3 {font-size: smaller;
    font-family: Helvetica, Arial, sans-serif;
    color: aliceblue;
    font-weight: lighter;}
p  {background-color: black;
    color: aliceblue;
    font-family: Helvetica, Arial, sans-serif;}
div {width: 100%;
    height: fit-content;
    margin: 20px;
    background-color: black;}
img {width: 50%;
    margin: auto;}
a {color: lightskyblue;}

      
